<?xml version="1.0" ?>
<settings version="1">
	<section id="script.ezmaintenanceplus">
		<category id="maintenance" label="33001" help="">
			<group id="1" label="33426">
				<setting id="notify_mode" type="boolean" label="33002" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="startup.cache" type="boolean" label="33003" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="autoCleanDays" type="integer" label="33427" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<minimum>0</minimum>
						<maximum>365</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="autoCleanHour" type="integer" label="33428" help="" parent="autoCleanDays">
					<level>0</level>
					<default>4</default>
					<constraints>
						<minimum>0</minimum>
						<maximum>23</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
			<group id="2" label="33251">
				<setting id="filesize_alert" type="integer" label="33004" help="">
					<level>0</level>
					<default>200</default>
					<constraints>
						<minimum>25</minimum>
						<maximum>500</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="packagenumbers_alert" type="integer" label="33005" help="">
					<level>0</level>
					<default>50</default>
					<constraints>
						<minimum>5</minimum>
						<maximum>200</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
			<group id="3" label="33252">
				<setting id="filesizethumb_alert" type="integer" label="33004" help="">
					<level>0</level>
					<default>500</default>
					<constraints>
						<minimum>50</minimum>
						<maximum>2000</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
		</category>
		<category id="wizard creator" label="33007" help="">
			<group id="1">
				<setting id="enable_wiz1" type="boolean" label="33008" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="name1" type="string" label="33009" help="">
					<level>0</level>
					<default>name</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="enable_wiz1">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>Name</heading>
					</control>
				</setting>
				<setting id="url1" type="string" label="33010" help="">
					<level>0</level>
					<default>zip url</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="enable_wiz1">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>Zip Url</heading>
					</control>
				</setting>
				<setting id="img1" type="string" label="33011" help="">
					<level>0</level>
					<default>special://home/addons/script.ezmaintenanceplus/fanart.jpg</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="enable_wiz1">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>Image</heading>
					</control>
				</setting>
				<setting id="enable_wiz2" type="boolean" label="33008" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="name2" type="string" label="33009" help="">
					<level>0</level>
					<default>name</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="enable_wiz2">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>Name</heading>
					</control>
				</setting>
				<setting id="url2" type="string" label="33010" help="">
					<level>0</level>
					<default>https://</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="enable_wiz2">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>Zip Url</heading>
					</control>
				</setting>
				<setting id="img2" type="string" label="33011" help="">
					<level>0</level>
					<default>special://home/addons/script.ezmaintenanceplus/fanart.jpg</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="enable_wiz2">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>Image</heading>
					</control>
				</setting>
				<setting id="enable_wiz3" type="boolean" label="33008" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="name3" type="string" label="33009" help="">
					<level>0</level>
					<default>name</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="enable_wiz3">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>Name</heading>
					</control>
				</setting>
				<setting id="url3" type="string" label="33010" help="">
					<level>0</level>
					<default>https://</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="enable_wiz3">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>Zip Url</heading>
					</control>
				</setting>
				<setting id="img3" type="string" label="33011" help="">
					<level>0</level>
					<default>special://home/addons/script.ezmaintenanceplus/fanart.jpg</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="enable_wiz3">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>Image</heading>
					</control>
				</setting>
				<setting id="enable_wiz4" type="boolean" label="33008" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="name4" type="string" label="33009" help="">
					<level>0</level>
					<default>name</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="enable_wiz4">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>Name</heading>
					</control>
				</setting>
				<setting id="url4" type="string" label="33010" help="">
					<level>0</level>
					<default>https://</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="enable_wiz4">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>Zip Url</heading>
					</control>
				</setting>
				<setting id="img4" type="string" label="33011" help="">
					<level>0</level>
					<default>special://home/addons/script.ezmaintenanceplus/fanart.jpg</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="enable_wiz4">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>Image</heading>
					</control>
				</setting>
				<setting id="enable_wiz5" type="boolean" label="33008" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="name5" type="string" label="33009" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="enable_wiz5">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>Name</heading>
					</control>
				</setting>
				<setting id="url5" type="string" label="33010" help="">
					<level>0</level>
					<default>http://</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="enable_wiz5">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>Zip Url</heading>
					</control>
				</setting>
				<setting id="img5" type="string" label="33011" help="">
					<level>0</level>
					<default>special://home/addons/script.ezmaintenanceplus/fanart.jpg</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="enable_wiz5">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>Image</heading>
					</control>
				</setting>
			</group>
		</category>
		<category id="backup/restore" label="33028" help="">
			<group id="1">
				<setting id="BackupFixSpecialHome" type="boolean" label="33429" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="download.path" type="path" label="33029" help="">
					<level>0</level>
					<default/>
					<constraints>
						<writable>false</writable>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">True</condition>
						</dependency>
					</dependencies>
					<control type="button" format="path">
						<heading>Backup Location</heading>
					</control>
				</setting>
				<setting id="restore.path" type="path" label="33030" help="">
					<level>0</level>
					<default/>
					<constraints>
						<writable>false</writable>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">True</condition>
						</dependency>
					</dependencies>
					<control type="button" format="path">
						<heading>Restore from Zip Location (folder)</heading>
					</control>
				</setting>
			</group>
		</category>
	</section>
</settings>
